<div fxLayout="column">
    <div fxLayout="row">
                <mat-toolbar color="primary">
                        <mat-toolbar-row >
                          <span>Custom Toolbar</span> 
                        </mat-toolbar-row>
                    </mat-toolbar>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <div>
            <img style="width:100%; height:100%;" src="{{image[0].source_url}}" alt="">
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <div >
            <button mat-raised-button color="primary">Primary</button>
        </div>
    </div>
</div>